doctype html
html
	head
		meta(charset="UTF-8")
		title="Login with Google"
		style
			include ./styles.css
	body
		div.container
			h1 Please insert your login and email:
			form(action='/auth/google' method='GET')
				p.input login:
				input(type='text' name='login' placeholder='login')
				p.input email:
				input(type='email' name='email' placeholder='example@gmail.com')
				input.btn(type='submit' value='submit')